body {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-image: url('audio2.jpg');
}

.name {
    text-align: center;
    font-size: 3rem;
    margin: 10px;
    color: whitesmoke;
}

.description {
    text-align: center;
    font-size: 1rem;
    margin: 10px;
    color: whitesmoke;
}

#text {
    width: 45%;
    height: 50vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    position: absolute;
    border-radius: 10px;
    opacity: 0.5;
}

::-webkit-input-placeholder {
    text-align: center;
    padding: 170px 0;
}

.drop_zone {
    background-color: #EEE;
    border: #999 4px dashed;
    opacity: 0.5;
    width: 50%;
    height: 50vh;
    font-size: 18px;
    margin-left: 51%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.drop_zone--prompt {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    padding: 180px 0;
    color: grey;
}

#drop-zone__prompt {
    display: none;
}

#speed {
    font-family: 'Montserrat', sans-serif;
}

#label {
    background: #e63946;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#play-button {
    color: white;
    background: #e63946;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 25px;
    border-color: white;
    font-family: 'Montserrat', sans-serif;
}

#play-button:hover {
    color: #e63946;
    background: white;
    border-color: white;
    font-size: 1rem;
}

#stop-button {
    color: white;
    background: #e63946;
    cursor: pointer;
    transition: all 0.5s ease;
    border-color: white;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
}

#stop-button:hover {
    color: #e63946;
    background: white;
    border-color: white;
    font-size: 1rem;
}

#pause-button {
    color: white;
    background: #e63946;
    cursor: pointer;
    transition: all 0.5s ease;
    border-color: white;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
}

#pause-button:hover {
    color: #e63946;
    background: white;
    border-color: white;
    font-size: 1rem;
}